<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>	
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionString>
		<add name="connstring" connectionString="Data Source=DESKTOP-7PS853T;Initial Catalog=csharpVenda;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>
	</connectionString>
</configuration>  